.modal
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(#000, 0.5)
  display: none
  &_active
    display: flex
  &-dialog
    margin: auto
    max-width: 550px
    width: 90%
    min-width: 200px
    background-color: $border-input 
    padding: 40px
    position: relative
    &__close
      position: absolute
      top: 0
      right: 0
      border: 1px solid red
    &__title
      font-size: 20px
      text-align: center
#close-2
  display: block
  margin: auto
////////////
#upscroll
  position: fixed
  right: 20px
  bottom: 20px
  opacity: 0.5
  width: 100px