@charset "UTF-8";
@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 400;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 570px;
    width: 95%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 271px;
  }
}

.button {
  border-radius: 10px;
  border: none;
  background-color: #ffd200;
  color: #333333;
}

.button:hover {
  background-color: #ffe466;
  cursor: pointer;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 25px;
  font-size: 15px;
  border-radius: 10px;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
  text-align: center;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

/* Импорт стилей шапки */
.navbar {
  padding: 7px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.navbar__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
}

.navbar__button {
  width: 170px;
  height: 49px;
  text-align: center;
  margin-left: 30px;
  font-size: 13px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
  text-decoration: none;
  margin-top: 7px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

@media (max-width: 320px) {
  .navbar-block {
    margin-top: 10px;
  }
  .navbar__button {
    width: 137px;
    height: 39px;
    font-size: 10px;
    padding: 15px 20px;
    margin-top: -2px;
    margin-left: 49px;
    margin-right: 23px;
    border-radius: 5px;
  }
  .navbar__logo {
    margin-left: 10px;
  }
  .navbar__logo img {
    min-width: 91px;
  }
}

/* Стили для главного экрана */
.hero {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  padding-right: 80px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 37px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 70px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 23px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 235px;
  font-size: 14px;
  line-height: 24px;
}

.hero-image img {
  width: 570px;
  -webkit-box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.05), 16px 22px 35px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 30px;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

@media (max-width: 390px) {
  .hero-text__title {
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .hero-text__subtitle {
    width: 200px;
  }
  .hero-block {
    margin-left: 10px;
    margin-right: 10px;
  }
  .hero-list {
    margin-bottom: 35px;
  }
  .hero-list__text {
    line-height: 1.2;
    max-width: 200px;
  }
  .hero-image {
    width: 270px;
  }
}

/* Стили для блока offer */
.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  padding: 50px 0;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  position: absolute;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  font-size: 24px;
  line-height: 35px;
  max-width: 350px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
  margin-bottom: 22px;
}

.offer__subtitle {
  display: block;
  font-size: 16px;
  max-width: 240px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
  height: 65px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__input:focus {
  border: 1px solid orange;
}

.offer__button {
  width: 100%;
  height: 70px;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
}

.offer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer__info p {
  font-size: 15px;
  line-height: 24px;
}

.offer__info p:first-child {
  width: 225px;
  margin-right: 65px;
}

.offer__info p a {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
  display: block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .offer {
    padding-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .offer__title {
    font-size: 18px;
    line-height: 1.2;
  }
  .offer__subtitle {
    font-size: 14px;
  }
  .offer__button {
    font-size: 14px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 20px;
  }
  .offer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__info p {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

/* Стили для блока портфолио */
.portfolio {
  padding: 100px 0;
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
  font-size: 30px;
  line-height: 45px;
}

.portfolio__arrows {
  margin: auto;
  margin-top: 68px;
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

@media (max-width: 320px) {
  .portfolio {
    padding: 50px 0;
  }
  .portfolio__title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 40px;
  }
}

/* Стили для блоа цен */
.price {
  padding: 100px 0;
}

.price__title {
  margin: auto;
  max-width: 520px;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 45px;
}

.price__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 59px;
  font-size: 20px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image::before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
  font-size: 18px;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__image img {
  display: block;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__link:hover:after {
  height: 13px;
}

@media (max-width: 768px) {
  .card {
    margin: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .price {
    padding: 50px 0;
  }
  .price__title {
    font-size: 18px;
    line-height: 1.2;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .price__subtitle {
    font-size: 14px;
  }
  .card__text {
    padding-left: 20px;
    padding-right: 20px;
  }
  .card__title {
    font-size: 14px;
    max-width: 300px;
  }
}

/* Стили для блока 5 шагов до ремонта */
.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
  padding-bottom: 100px;
}

.step:after {
  content: '';
  width: 72px;
  height: 25px;
  position: absolute;
  background: url("../img/steps/arrow.png") no-repeat center;
  top: -10px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  border: 3px solid #ffd200;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.step__text {
  font-size: 14px;
  max-width: 160px;
  margin: auto;
}

.steps__title {
  margin: auto;
  max-width: 670px;
  margin-bottom: 55px;
  font-size: 30px;
  line-height: 45px;
}

.steps__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 58px;
  font-size: 20px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .step {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps__title {
    font-size: 24px;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .step {
    padding-bottom: 20px;
  }
  .step__text {
    font-size: 12px;
  }
  .steps__title {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .steps__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

/* Стили для блока brif */
.brif {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
  background-position: left center, center right;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 33px;
}

.interview__subtitle {
  font-size: 16px;
  display: block;
  margin-bottom: 95px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
  margin-bottom: 25px;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  margin-right: 30px;
  border-radius: 50%;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
  font-size: 18px;
}

.form__title {
  margin-bottom: 50px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
  line-height: 33px;
}

.form__subtitle {
  display: block;
  margin-bottom: 60px;
  font-size: 16px;
}

.form__description {
  display: block;
  text-align: center;
}

@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 300px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .brif {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../img/brif/brif-color-bg.png"), url("../img/brif/brif-bg.jpg");
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
  }
}

@media (max-width: 320px) {
  .brif {
    padding-top: 30px;
  }
  .brif__form {
    padding-left: 0;
  }
  .brif__button {
    margin-top: 0;
  }
  .interview__title {
    font-size: 18px;
    line-height: 1.2;
  }
  .interview__subtitle {
    font-size: 14px;
    line-height: 1.2;
  }
  .interview-list__text {
    max-width: 190px;
  }
  .interview-list__counter {
    margin-right: 5px;
  }
  .form__title {
    font-size: 18px;
    max-width: 300px;
    line-height: 1.2;
  }
  .form__subtitle {
    font-size: 14px;
  }
  .form__description {
    font-size: 14px;
    max-width: 140px;
    margin: auto;
  }
}

/* Стили для подвала */
.footer {
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 100px;
  padding-left: 200px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 100px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

.contacts-list__text {
  line-height: 26px;
}

.contacts-list__text a {
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
}

.contacts-list__text span {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 400;
}

@media (max-width: 576px) {
  .footer {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: column;
        -ms-flex-pack: column;
            justify-content: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .map {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: static;
    width: 100%;
  }
  .contacts {
    padding: 0;
  }
  .contacts-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 25px;
  }
  .contacts__title {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .contacts__title {
    margin-bottom: 40px;
    max-width: 260px;
  }
}

/* Стили модального окна */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  margin: auto;
  max-width: 550px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 40px;
  position: relative;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

#upscroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
  width: 100px;
}
